doctype html
html
  head
   title A Minute Too Late
   link(href="css/style.css" rel="stylesheet")
   link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
   script(src="js/script.js")
body
 .container
   h4
    i Better three hours too soon than a minute too late. - William Shakesphere
   .sphere
     .line
   .content
     canvas#canvas(width="400px" height="400px") hey
     .time
      p#date
 script(src="js/script.js")
