.sphere{
  box-shadow:
      0 3em 2.5em -2.5em rgba(#1E2749, .6),//drop
      0 0 1em -0.35em rgba(#fff,.2),//outglow
      0 -1em 1.1em 0 rgba(#324376, .5) inset,//inshadow
      0 0 2.5em 0 rgba(#1E2749,.4)inset; //inglow
      background:
        radial-gradient(circle at 33% -25%,rgba(#273469,0) 40%,rgba(#1E2749,.07) 50%),
        radial-gradient(circle at 50% 135%, rgba(#1E2749,.23) 43%,rgba(#273469,0)),
        radial-gradient(circle at 50% -35%, rgba(#273469,.8) 45%,rgba(#273469,0)),
        radial-gradient(circle at 50% 0,#273469,#30343F);

    background-size:150%,100%,100%,100%;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

html, body{
  height:100%;
  font-family: 'Roboto', sans-serif;
}
h4{
  text-align: center;
  color:#1e2749;
  padding-top:50px;
  margin-top:0px;
}
body{
  margin:0;
  background: url('./img/beach.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.container{
  width:100%;
  height: 100%;
  background:rgba(#1E2749, .7);

}
.sphere{
  display:block;
  position: relative;
  cursor: pointer;
  width:15em;
  height:15em;
  top:50%;
  margin:-20.5em auto;
  border-radius:50%;
  padding:10px;
}
@-moz-keyframes spin{100%{-moz-transform:rotate(360deg);}}
@-webkit-keyframes spin{ 100%{-webkit-transform:rotate(360deg); }}

.line{

  width:100%;
  height: 100%;
  border-radius:50%;
}
.content{
  border-radius: 50%;
  width:210px;
  height: 210px;
  margin:auto;
    position: absolute;
    z-index: 20000;
    top: 160px;
    left:0;
    right: 0;

}
#canvas{
  position: absolute;
  top:-135px;
   margin:auto;
   left:-90px;
}

.time{
  text-align: center;
  color:lightgrey;
  font-size:38px;
  position: relative;
  top:268px;
 font-family: arial;
  font-weight: 200;
}
